// BoardDetailPage.module.scss
.board__detail__page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .page__contents__introBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
  }
  .content__contentBox {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin: 0 auto;

    .content__content {
      font-size: 1.3rem;
      font-weight: bolder;
    }
  }

  .content__container {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1; // 남은 공간을 차지
    background-color: #ffffff; // 내용 배경색
    border-radius: 8px; // 모서리 둥글게

    .content__titleBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      padding-bottom: 16px;

      .content__title {
        font-size: 1.3rem;
        font-weight: bolder;
      }
    }

    .title__input {
      width: 50%;
      min-width: 50%;
      height: 36px;
      border: 1px solid #ccc;
      padding: 8px;
    }
  }

  .wrapper__title {
    font-size: 2rem;
    font-weight: bolder;
  }

  .buttons,
  .modalButtons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    column-gap: 12px;

    .deleteButton,
    .editButton,
    .backButton,
    .registerButton,
    .cancleButton {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .deleteButton {
      background-color: #ff4d4d; // 삭제 버튼 색상
      color: white;
    }

    .editButton {
      background-color: rgb(98, 72, 255); // 수정 버튼 색상
      color: white;
    }

    .backButton {
      background-color: white;
      color: black;
      border: 1px solid #d9d9d9;
    }
  }
  .buttons {
    margin-top: 20px;
  }
}

.thumbnailModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 배경 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  animation: slideIn 0.2s forwards; /* 애니메이션 추가 */
}
.exit {
  animation: slideOut 0.2s forwards; /* 종료 애니메이션 추가 */
}

@keyframes slideIn {
  from {
    transform: translateY(100%); /* 아래에서 시작 */
  }
  to {
    transform: translateY(0); /* 원래 위치로 이동 */
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0); /* 현재 위치에서 시작 */
  }
  to {
    transform: translateY(100%); /* 아래로 이동 */
  }
}

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: "Lato";
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ck-content {
  font-family: "Lato";
  line-height: 1.6;
  word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

.ck-content h3.category {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  color: #555;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
}

.ck-content h2.document-title {
  font-family: "Oswald";
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.ck-content h3.document-subtitle {
  font-family: "Oswald";
  font-size: 20px;
  color: #555;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.ck-content p.info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background: linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
  font-family: "Oswald";
  font-style: normal;
  float: right;
  width: 35%;
  position: relative;
  border: 0;
  overflow: visible;
  z-index: 1;
  margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
  content: "“";
  position: absolute;
  top: -37px;
  left: -10px;
  display: block;
  font-size: 200px;
  color: #e7e7e7;
  z-index: -1;
  line-height: 1;
}

.ck-content blockquote.side-quote p {
  font-size: 2em;
  line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
  font-size: 1.3em;
  text-align: right;
  color: #555;
}

.ck-content span.marker {
  background: yellow;
}

.ck-content span.spoiler {
  background: #000;
  color: #000;
}

.ck-content span.spoiler:hover {
  background: #000;
  color: #fff;
}

.ck-content pre.fancy-code {
  border: 0;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;
}

.ck-content pre.fancy-code::before {
  content: "";
  display: block;
  height: 13px;
  background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
  margin-bottom: 8px;
  background-repeat: no-repeat;
}

.ck-content pre.fancy-code-dark {
  background: #272822;
  color: #fff;
  box-shadow: 5px 5px 0 #0000001f;
}

.ck-content pre.fancy-code-bright {
  background: #dddfe0;
  color: #000;
  box-shadow: 5px 5px 0 #b3b3b3;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 0.875em;
  font-weight: bold;
}

p {
  font-size: 1em;
  line-height: 1.5;
}
