@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%; /* 전체 높이를 100%로 설정 */
  margin: 0; /* 기본 마진 제거 */
  font-family: "Outfit", "Pretendard", AppleGothic, sans-serif;

  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1500px) {
  main {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.ck-editor__editable {
  min-height: 32rem;
  max-height: 32rem;
  overflow-y: auto;
}

.swal2-title {
  font-size: 1.4rem;
}

#swal2-html-container {
  font-size: 1rem;
}

.swal2-styled {
  padding: 0;
  width: 66px;
  height: 44px;
}

.ck-editor__main.ck-blurred,
.ck_focused {
  padding-right: 36px;
  padding-left: 36px;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
  padding-right: 12px;
  padding-left: 12px;
}
.custom-image {
  width: auto !important; /* Ensure the width is respected */
  height: auto !important; /* Ensure the height is respected */
}

figure.image.image-style-align-left {
  float: left;
  margin-right: 4px;
}
figure.image.image-style-align-right {
  float: right;
  margin-left: 4px;
}

figure.image img {
  margin: 4px auto;
  text-align: center;
}

figure.image.image_resized {
  margin: 4px auto;
  text-align: center;
}

/*figure.image.image_resized.image-style-block-align-right,
figure.image.image_resized.image-style-align-right figure.image.image_resized.image-style-block-align-left,
figure.image.image_resized.image-style-align-left figure.image.image_resized */
