@media (max-width: 1500px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100px;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__logoBox {
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 2px;
}

.header__profileBox__button {
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 2px;
}
.header__profileBox {
  display: flex;
  align-items: baseline;
}
